html, body {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  overflow: hidden;
}

.SidePanel {
  background: #303030;
  width: 100%;
  height: 7%;
  border-right-style: solid;
  border-color: darkgray;
  position: fixed;
  display: flex;
}

.SPBTN {
  width: 11%;
  height: 100%;
  color: #939393;
  background: transparent;
  border-color: transparent;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.SPBTN:Hover {
  color: black;
  background: #92669119;
}

.SideBarTitle {
  font-size: 25px;
  font-family: sans-serif;
  padding-top: 10px;
  color: white;
}

.SPBottom {
  border-top-style: solid;
  border-color: #ececec;
  margin-top: 185%;
  border-right-style: solid;
  width: 100%;
  position: fixed;
}

/*This is the search bar*/
.SearchBar {
  width: 30%;
  height: 4%;
  border-radius: 15px;
  font-family: sans-serif;
  text-align: left;
  margin-left: 20%;
}


/*This is for the Iframe. This is all the css for it*/
.MainView {
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 3%;
  scrollbar-base-color: black;
}

.DWDisplay {
  width: 300px;
  height: 350px;
  background: #202020;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 15px;
  margin-right: 10px;
}

/*Sets properties for the Download Display*/
.DWBtn {
  background: transparent;
  color: white;
  width: 300px;
  height: 40px;
  margin-left: 0px;
  text-align: center;
  border: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.BTNLineHolder {
  width: 100%;
  height: 50%;
  display: flex;
}

.DWBtn:Hover {
  background: #003e00;
}

.DWT {
  
}

.Price {
  padding-top: 52%;
  padding-left: 70%;
}

.DWIcon {
  width: 300px;
  height: 250px;
}

.Panel {
  height: 40%;
  width: 18%;
  text-align: center;
  font-size: 15px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 10px;
}

.DVBTN {
  width: 100%;
  height: 7%;
  background: transparent;
  border-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
  color: white;
}

.DVBTN:Hover {
  background: #3e60bb19;
}

.DLogo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 13px;
}

.DevPanel {
  background: #121212;
  width: 15%;
  height: 100%;
  border-right-style: solid;
  border-color: darkgray;
}

.Container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#DvHolder {
  margin-top: 40px;
}

.Panel {
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #3a3a3a , #222222 , #790000 , red);
  color: white;
}

.ContainerDash {
  height: 100%;
  display: flex;
}

.FriendDisplay {
  width: 98%;
  height: 38px;
  border-radius: 20px;
  background: #4828ff;
}

#ProfilePicture {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  align-self: flex-start;
  margin-top: 2px;
  margin-left: 4px;
}

#NFd {
  background: black;
  height: 15%;
  text-align: middle;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 3px;
}

#AccountDisplay {
  width: 14%;
  height: 90%;
  border-radius: 20px;
  background: #2a2a2a;
  display: flex;
  margin-top: 3px;
}

#TagHolder {
  display: flex;
  width: 100%;
  height: 5%;
  margin-bottom: 50px;
}

#Tag {
  width: 10%;
  height: 100%;
  border-radius: 20px;
  background: gray;
  margin-right: 5px;
  border: 0px;
  font-size: 20px;
  color: white;
}